<head>
	<title><%= lastPrice %></title>
	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/darkly/bootstrap.min.css" rel="stylesheet" integrity="sha384-p8bH4RlA/kdF4wbAoep+/6VeOQI2IAWa9zLjTIQbQLv2FuCjX/W/FkdYdeKISDvK" crossorigin="anonymous">
</head>
<h1>My Bitcoin Site</h1>
<div>
<a href="/" class="btn btn-primary">Home</a>
<a href="/brain" class="btn btn-primary">Wallet</a>
<a href="/convertor" class="btn btn-primary">Convertor</a>
</div>